
   
    div{
        color:red;
        font-size:18px;
    }

    body{
        width:100%;
  
    }

    p{
        color:rgb(241, 238, 238);
        font-size:18px;
    }

    #section {
        padding:10px;
        width:100%;	 	
        text-align:center;
    }

    #footer {
        color:white;
        position: absolute;
        text-align:center;
        bottom: 0;	
        width: 100%; 
    }

    #leftImg{
        position:absolute;
        right:100px;
        top:70px;
    }
